
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



.Wcircle {
    float: left;
    position: relative;
    left: 1605px;
    bottom: 97px;
}

.mobility{
    width: 800px;
    height: 1000px;
 
}

.Text1{
    width: 500px;
    height: 500px;
    margin-left: 600px;
    margin-top: 250px;
    z-index: -1;
}

.Dera{
    border-radius: 50%;
    z-index: -1;
    margin-top: 50px;
}    

.Circle1{
    float: left;
    position: absolute;
    left: 2400px;
    bottom: 400px;

}


.Arrow1{
    float: left;
    position: relative;
    left: 1760px;
    bottom: 350px;

}

.ArrowDera{
    margin-bottom: 10px;
    height: 150px;
    width: 800px;
    z-index: 2  ;

}

.Mpic{
    float: left;
    position: absolute;
    left: 1900px;
    bottom: 400px;

}

p {
    font-size: 20px;

}





.better{
    width: 1000px;
    height: 700px;
}

.Text2{
    float: right;
    width: 500px;
    height: 500px;
    position: relative;
    left: 1000px;
    bottom: 300px;
}

.BPic{
    float: left;
    position: relative;
    left:295px;
    bottom: 400px;
}

.Bliv{
    border-radius: 50%;
}

.Arrow2{
    position: relative;
    right: 30px;
    bottom: 850px;
}

.ArrowBL{
    width: 500px;
}

.Circle2{
    position: relative;
    float: left;
    right: 300px;
    bottom: 1000px;


}