
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


// HEROBANNER
.herobanner {
  background-image: url('../../assets/images/about-hero-desktop.jpg');
  background-size: cover;
  position: relative;

  .herobanner__container {
      max-width: 1110px;
      margin: 0 auto;
      height: 100%;
      padding: 72px 0;


      .herobanner__heading {
          /* * * */
          max-width: 500px;
      }

      .pattern {
          position: absolute;
          right: -30px;
          top: 50%;
          transform: translateY(-50%);
      }
  }
}


.imageText {
  margin-top: 200px;
  position: relative;

  .imageText__container {
      margin: 0 auto;
      max-width: 1110px;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;

      .text__wrapper {
          width: 40%;
      }

      .image__wrapper {
          width: 40%;
          
          .img {
            
              img {
                  border-radius: 100%;
                  position: relative;
              }
          }

          .Dera{
            left: 50%;
          }
      }

      &.reverse {
          flex-direction: row-reverse;
          img{
            border-radius: 100%;
            position: relative;
            left: -25%;
          }
      }
  }


  .pattern-arrow {
      position: absolute;
      right: -10px;
      bottom: 30px;
      z-index: 2;

      &.reverse {
          left: 0;
          top: 0;
      }
  }

  .pattern-circle {
      position: absolute;
      right: -18%;
      top: -2%;
      z-index: -1;

      &.reverse {
          left: -15%;
      }
  }
}

.ValueSections {
  margin: 100px auto;
  max-width: 1150px;
  padding: 0 20px;
  box-sizing: border-box;
}

.ValueSections h2 {text-align: center;}
#OurValuesSectionThreeBoxes {display: flex; flex-direction: row; text-align: center;}
#OurValuesSectionThreeBoxes .OurValuesSectionBox {width: 33.333%; padding: 20px;}
#OurValuesSectionThreeBoxes .OurValuesSectionBoxImage img {
  width: 100%;
  max-width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}
#OurValuesSectionThreeBoxes .OurValuesSectionBoxNumber span {
display: inline-block;
font-family: 'Space Mono';
font-weight: 700;
font-size: 24px;
line-height: 28px;
letter-spacing: -1.07143px;
color: #495567;
background-color: #fcb72b;
margin-top: -35px;
padding: 25px;
border-radius: 50%;
}

.Wcircle{
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 40%;
    height: 100px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-left: 53.7%;
  }

  .accordion::before{
    content: '';
    position:absolute;
    width: 8px;
    height: 8px;
    border: 2px solid goldenrod;
    right: 180px;
    margin-top: 25px;
    z-index: 2;
    border-top: 2px rgba(0, 0, 0, .4);
    border-right: 2px rgba(0, 0, 0, .4);
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
  }

  .accordion.active::before{
    border-top: 2px rgba(0, 0, 0, .4);
    border-right: rgba(0, 0, 0, .4);  
    transform: rotate(-225deg);
  }



.wtf{
    position: absolute;
    text-align: center;
    left: 41%;
    top: 170%;
}
  
  
  .panel {
    width: 38.1%;
    padding: 0 18px;
    padding-right: 12px;
    padding-bottom: 20x;
    bottom:20px;
    background-color: #eee;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-left: 53.7%;
  }

  .panel.active::before{
    background-color: #ccc;

  }

  .WholeAccordion{
    position: relative;
    top: 20%;
    

  }

.FAQ{
  position: relative;
  text-align: center;
  left: 0%;
  top: -80%;
}

.faq1{
    float: left;
    position: absolute;
    margin-top: 20px;
    margin-left: 15%;
}

.faq2{
    float: left;
    position: absolute;
    margin-top: 20px;
    margin-left: 15%;
}




.footer{
    max-width: 100%;

}






@media only screen and (max-width: 876px) {
  #OurValuesSectionThreeBoxes {display: block;}
  #OurValuesSectionThreeBoxes .OurValuesSectionBox {
    width: 100%; 
    max-width: 500px; 
    margin: auto; 
    padding: 0;
  }
}

@media only screen and (max-width: 360px) {
  #OurValuesSectionThreeBoxes .OurValuesSectionBoxImage img {max-width: 100%; height: 100%;}
}

@media only screen and (max-width: 768px) {
  .imageText {
  
      .imageText__container {
          display: flex;
          justify-content: space-between;
          flex-direction: column-reverse;
  
          .text__wrapper {
              width: 100%;
              text-align: center;
              padding-top: 50px;

              .title,
              .texts, 
              .button {
                  padding-left: 32px;
                  padding-right: 32px;
              }

          }
  
          .image__wrapper {
              width: 100%;
              
              .img {  
                  padding: 0 32px;

                  img {
                      width: 100%;
                  }
               .Dera{
                left: -0%;
               }   
              }
          }

          &.reverse {
              flex-direction: column-reverse;
              img{
                border-radius: 100%;
                position: relative;
                left: 0%;
              }
          }
      }
  
  
      .pattern-arrow {
          position: absolute;
          right: -8%;
          bottom: 0;
          top: 25%;
          z-index: 1;
          width: 100%;

          &.reverse {
              left: -25%;
              top: 15%;
          }
      }
  
      .pattern-circle {
          display: none;
      }
  }

  .Wcircle{
    display: none;
  }

  .WholeAccordion{
    .accordion{
      position: relative;
      left: -190px;
      width: 90%;
      display: block;
      justify-content: space-between;
      flex-direction: column-reverse;
    }

    .panel{
      position: relative;
      left: -190px;
      width: 80%;
      display: flex;
      justify-content: space-between;
      flex-direction: column-reverse;
    }

    .FAQ{
      text-align: center;
    }

    .faq1, .faq2{
      text-align: center;
      display: flex;
      justify-content: space-between;
      position: relative
    }

    .accordion::before{
      left: 310px;
    }
  }
}



// HEROBANNER
@media only screen and (max-width: 768px) {
  .herobanner {
  
      .herobanner__container {
  
  
          .herobanner__heading {
              /* * * */
              max-width: 100%;
              text-align: center;
          }
  
          .pattern {
              display: none;
          }
      }
  }
}