/*
 * GLOBAL ELEMENTS:
 * This can be use to the whole website
 *
 */


@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
}

html,body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.section {
    max-width: 1110px;
    margin: 0 auto;
    padding: 20px 0;
}







// 
// COLORS
// 
$color-black: #000000;
$color-white: #FFFFFF;
$color-yellow: #FCB72B;
$color-darkNavy: #495567;
$color-dimGray: #939CAA;
$color-lightGray: #E5ECF4;
$color-snow: #F2F5F9;
$color-lightYellow: #FFF4DF;









// 
// TYPOGRAPHY
// 

h1 {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: $color-darkNavy;
}

h1.white {
    color: $color-white;
}

h2 {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: $color-darkNavy;
}

h3 {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.78571px;
    color: #495567;
}

h4 {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: $color-darkNavy;
}

p {
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: $color-darkNavy;
}

a {
    color: $color-darkNavy;
    text-decoration: none;
}

li {
    list-style: none;
    font-family: 'Space Mono';
}

ul, li {
    padding: 0;
}

.button {
    background-color: $color-yellow;
    border: 3px solid $color-white;
    padding: 14px 70px;
    cursor: pointer;

    a {
        font-family: 'Space Mono';
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: $color-white;
    }
}

.button:hover {
    background-color: $color-white;
    border: 3px solid $color-yellow;
    transition: .5s;
    
    a {
        color: $color-yellow;
    }
}












/*
 * HEADER:
 * This can be use to the whole website
 *
 */
 .header {
    background-color: white;

    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-links__wrapper {
            display: flex;
            gap: 59px;
            align-items: center;

            .header__links {
                display: flex;
                align-items: center;
                gap: 32px;

                li a {
                    font-family: 'Space Mono';
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 25px;
                    color: $color-dimGray;
                }
            }

            .header__icon {
                display: none;
            }
        }
    }
}





/*
 * FOOTER:
 * This can be use to the whole website
 *
 */
 .footer {
     margin-top: 120px;

    .footer__container {
        background-color: $color-darkNavy;
        padding: 102px 0;
        position: relative;

        .footer-main {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1110px;
            margin: 0 auto;

            h2 {
                max-width: 415px;
                color: $color-white;
                font-family: 'Space Mono';
                font-weight: 700;
                font-size: 48px;
                line-height: 48px;
                letter-spacing: -2.14286px;
            }

            .footer-cta {
                display: flex;
                align-items: center;
                gap: 18px;
            }

            .circle {
                position: absolute;
                bottom: 0;
                right: -150px;
            }
        }
    }

    .footer-socials__container {
        background-color: #333A44;
        padding: 35px 0;

        .footer-links {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1110px;
            margin: 0 auto;

            .footer-links__wrapper {
                display: flex;
                align-items: center;
                gap: 59px;

                .footer-links__item {
                    display: flex;
                    align-items: center;
                    gap: 32px;

                    a {
                        color: $color-dimGray;
                    }
                }
            }

            .footer-socials {
                display: flex;
                align-items: center;
                gap: 24px;
            }
        }
    }


}




/*
 * MEDIA QUERIES
 */


// HEADER
@media only screen and (max-width: 768px) {
    .header {

        .header__container {
            flex-direction: column;
            align-items: flex-start;

            .header-links__wrapper {
                align-items: left;

                .header__logo {
                    position: relative;
                    width: 100%;
                    background-color: #FFFFFF;
                    padding-left: 35vw;
                }

                .header__links {
                    background-color: #333A44;
                    position: absolute;
                    left: 0;
                    top: 73px;
                    flex-direction: column;
                    width: 280px;
                    padding-left: 30px;
                    padding-top: 64px;
                    flex-direction: column;
                    align-items: flex-start;
                    height: 83.7%;
                    box-shadow: 15px 0px 50px rgba(0, 0, 0, 0.25);
                    display: none;
            
                    .header-links__items a {
                        font-size: 18px;
                    }

                    &.responsive {
                        display: flex;
                        z-index: 1;
                    }

                    
                }

                .header__icon {
                    display: block;
                    position: absolute;
                    left: 8%;
                }
            }

            .header__cta {
                position: absolute;
                bottom: 10%;
                padding-left: 30px;
                display: none;

                &.responsive {
                    display: block;
                    z-index: 2;
                }
            }
        }
    }
}




// FOOTER 

@media only screen and (max-width: 768px) {

    .footer {

        .footer__container {

            .footer-main {
                flex-direction: column;
                text-align: center;
                padding: 0 32px;
            }
        }

        .footer-socials__container {
            padding-top: 64px;
            padding-bottom: 88px;

            .footer-links {
                flex-direction: column;
    
                .footer-links__wrapper {
                    flex-direction: column;
    
                    .footer-links__item {
                        flex-direction: column;
    
                    }
                }
    
                .footer-socials {
                    margin-top: 45px;
                }
            }
        }


    }
}



header.stickyHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.06);
    z-index: 10;
}

header.stickyHeader + .herobanner {
    margin-top: 99px;
}