/*
 * GLOBAL ELEMENTS:
 * This can be use to the whole website
 *
 */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  margin: 0;
}

html, body {
  overflow-x: hidden;
}

.section {
  max-width: 1110px;
  margin: 0 auto;
  padding: 20px 0;
}

h1 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #495567;
}

h1.white {
  color: #FFFFFF;
}

h2 {
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

h3 {
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
  color: #495567;
}

h4 {
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

p {
  font-family: 'Lexend Deca';
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
}

a {
  color: #495567;
  text-decoration: none;
}

li {
  list-style: none;
  font-family: 'Space Mono';
}

ul, li {
  padding: 0;
}

.button {
  background-color: #FCB72B;
  border: 3px solid #FFFFFF;
  padding: 14px 70px;
  cursor: pointer;
}

.button a {
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.button:hover {
  background-color: #FFFFFF;
  border: 3px solid #FCB72B;
  -webkit-transition: .5s;
  transition: .5s;
}

.button:hover a {
  color: #FCB72B;
}

/*
 * HEADER:
 * This can be use to the whole website
 *
 */
.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__container .header-links__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 59px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__container .header-links__wrapper .header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.header .header__container .header-links__wrapper .header__links li a {
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.header .header__container .header-links__wrapper .header__icon {
  display: none;
}

/*
 * FOOTER:
 * This can be use to the whole website
 *
 */
.footer {
  margin-top: 120px;
}

.footer .footer__container {
  background-color: #495567;
  padding: 102px 0;
  position: relative;
}

.footer .footer__container .footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1110px;
  margin: 0 auto;
}

.footer .footer__container .footer-main h2 {
  max-width: 415px;
  color: #FFFFFF;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
}

.footer .footer__container .footer-main .footer-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}

.footer .footer__container .footer-main .circle {
  position: absolute;
  bottom: 0;
  right: -150px;
}

.footer .footer-socials__container {
  background-color: #333A44;
  padding: 35px 0;
}

.footer .footer-socials__container .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1110px;
  margin: 0 auto;
}

.footer .footer-socials__container .footer-links .footer-links__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 59px;
}

.footer .footer-socials__container .footer-links .footer-links__wrapper .footer-links__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.footer .footer-socials__container .footer-links .footer-links__wrapper .footer-links__item a {
  color: #939CAA;
}

.footer .footer-socials__container .footer-links .footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

/*
 * MEDIA QUERIES
 */
@media only screen and (max-width: 768px) {
  .header .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header .header__container .header-links__wrapper {
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  .header .header__container .header-links__wrapper .header__logo {
    position: relative;
    width: 100%;
    background-color: #FFFFFF;
    padding-left: 35vw;
  }
  .header .header__container .header-links__wrapper .header__links {
    background-color: #333A44;
    position: absolute;
    left: 0;
    top: 73px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 280px;
    padding-left: 30px;
    padding-top: 64px;
    flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 83.7%;
    -webkit-box-shadow: 15px 0px 50px rgba(0, 0, 0, 0.25);
            box-shadow: 15px 0px 50px rgba(0, 0, 0, 0.25);
    display: none;
  }
  .header .header__container .header-links__wrapper .header__links .header-links__items a {
    font-size: 18px;
  }
  .header .header__container .header-links__wrapper .header__links.responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header__container .header-links__wrapper .header__icon {
    display: block;
    position: absolute;
    left: 8%;
  }
  .header .header__container .header__cta {
    position: absolute;
    bottom: 10%;
    padding-left: 30px;
    display: none;
  }
  .header .header__container .header__cta.responsive {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .footer .footer__container .footer-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0 32px;
  }
  .footer .footer-socials__container {
    padding-top: 64px;
    padding-bottom: 88px;
  }
  .footer .footer-socials__container .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-socials__container .footer-links .footer-links__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-socials__container .footer-links .footer-links__wrapper .footer-links__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-socials__container .footer-links .footer-socials {
    margin-top: 45px;
  }
}
/*# sourceMappingURL=main.css.map */