/*
 * GLOBAL ELEMENTS:
 * This can be use to the whole website
 *
 */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  margin: 0;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.section {
  max-width: 1110px;
  margin: 0 auto;
  padding: 20px 0;
}

h1 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #495567;
}

h1.white {
  color: #FFFFFF;
}

h2 {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

h3 {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
  color: black;
}

h4 {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  margin-bottom: 5px;
}

p {
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
}

a {
  color: #495567;
  text-decoration: none;
}

li {
  list-style: none;
  font-family: "Space Mono";
}

ul, li {
  padding: 0;
}

.button {
  background-color: #FCB72B;
  border: 3px solid #FFFFFF;
  padding: 14px 70px;
  cursor: pointer;
}
.button a {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.button:hover {
  background-color: #FFFFFF;
  border: 3px solid #FCB72B;
  transition: 0.5s;
}
.button:hover a {
  color: #FCB72B;
}

/*
 * HEADER:
 * This can be use to the whole website
 *
 */
.header {
  background-color: white;
  z-index: 9999;
}
.header .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__container .header-links__wrapper {
  display: flex;
  gap: 59px;
  align-items: center;
}
.header .header__container .header-links__wrapper .header__links {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header .header__container .header-links__wrapper .header__links li a {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
.header .header__container .header-links__wrapper .header__icon {
  display: none;
}

.custom-model-main {
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* z-index: 1050; */
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear, z-index 0.15;
  -o-transition: opacity 0.15s linear, z-index 0.15;
  transition: opacity 0.15s linear, z-index 0.15;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
}

.model-open {
  z-index: 99999;
  opacity: 1;
  overflow: hidden;
}
.custom-model-inner {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  display: inline-block;
  vertical-align: middle;
  width: 600px;
  margin: 30px auto;
  max-width: 97%;
}
.custom-model-wrap {
  display: block;
  width: 100%;
  height: 300px;
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  text-align: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: calc(100vh - 70px);
	overflow-y: auto;
}
.model-open .custom-model-inner {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  position: relative;
  z-index: 999;
}
.model-open .bg-overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
.bg-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.close-btn {
  position: absolute;
  right: 0;
  top: -30px;
  cursor: pointer;
  z-index: 99;
  font-size: 30px;
  color: #fff;
}

form{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input{
  font-size: 15px;
  width: 250px;
  height: 25px;
  padding: 0 20px;
  transition: 0.5s;
  outline: none;
}

form input:focus{
  border: solid #FCB72B;
}

form button{
  font-family: 'Space Mono';
  font-weight: 700;
  margin-top: 10px;
  width: 150px;
  height: 35px;
  background-color: #FCB72B;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 10px
}

form button:hover{
  background-color: #FFFFFF;
  border: 3px solid #FCB72B;
  color: #FCB72B;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.pop-up-content-wrap h4{
  text-align: center;
}

/*
 * FOOTER:
 * This can be use to the whole website
 *
 */
.footer {
  margin-top: 120px;
}
.footer .footer__container {
  background-color: #495567;
  padding: 102px 0;
  position: relative;
}
.footer .footer__container .footer-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1110px;
  margin: 0 auto;
}
.footer .footer__container .footer-main h2 {
  max-width: 415px;
  color: #FFFFFF;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
}
.footer .footer__container .footer-main .footer-cta {
  display: flex;
  align-items: center;
  gap: 18px;
}
.footer .footer__container .footer-main .circle {
  position: absolute;
  bottom: 0;
  right: -150px;
}
.footer .footer-socials__container {
  background-color: #333A44;
  padding: 35px 0;
}
.footer .footer-socials__container .footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1110px;
  margin: 0 auto;
}
.footer .footer-socials__container .footer-links .footer-links__wrapper {
  display: flex;
  align-items: center;
  gap: 59px;
}
.footer .footer-socials__container .footer-links .footer-links__wrapper .footer-links__item {
  display: flex;
  align-items: center;
  gap: 32px;
}
.footer .footer-socials__container .footer-links .footer-links__wrapper .footer-links__item a {
  color: #939CAA;
}
.footer .footer-socials__container .footer-links .footer-socials {
  display: flex;
  align-items: center;
  gap: 24px;
}

/*
 * MEDIA QUERIES
 */
@media only screen and (max-width: 768px) {
  .header .header__container {
    flex-direction: column;
    align-items: flex-start;
  }
  .header .header__container .header-links__wrapper {
    align-items: left;
  }
  .header .header__container .header-links__wrapper .header__logo {
    position: relative;
    width: 100%;
    background-color: #FFFFFF;
    padding-left: 40vw;
  }
  .header .header__container .header-links__wrapper .header__links {
    background-color: #333A44;
    position: fixed;
    left: 0;
    top: 73px;
    flex-direction: column;
    width: 280px;
    padding-left: 30px;
    padding-top: 64px;
    flex-direction: column;
    align-items: flex-start;
    height: 83.7%;
    box-shadow: 15px 0px 50px rgba(0, 0, 0, 0.25);
    display: none;
  }
  .header .header__container .header-links__wrapper .header__links .header-links__items a {
    font-size: 18px;
  }
  .header .header__container .header-links__wrapper .header__links.responsive {
    display: flex;
    z-index: 1;
  }
  .header .header__container .header-links__wrapper .header__icon {
    display: block;
    position: absolute;
    left: 8%;
  }
  .header .header__container .header__cta {
    position: fixed;
    bottom: 10%;
    padding-left: 30px;
    display: none;
  }
  .header .header__container .header__cta.responsive {
    display: block;
    z-index: 2;
  }
}
@media only screen and (max-width: 768px) {
  .footer .footer__container .footer-main {
    flex-direction: column;
    text-align: center;
    padding: 0 32px;
  }
  .footer .footer-socials__container {
    padding-top: 64px;
    padding-bottom: 88px;
  }
  .footer .footer-socials__container .footer-links {
    flex-direction: column;
  }
  .footer .footer-socials__container .footer-links .footer-links__wrapper {
    flex-direction: column;
  }
  .footer .footer-socials__container .footer-links .footer-links__wrapper .footer-links__item {
    flex-direction: column;
  }
  .footer .footer-socials__container .footer-links .footer-socials {
    margin-top: 45px;
  }
}
header.stickyHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.06);
  z-index: 10;
}

header.stickyHeader + .herobanner {
  margin-top: 99px;
}/*# sourceMappingURL=main.css.map */

@media screen and (min-width:800px){
	.custom-model-main:before {
	  content: "";
	  display: inline-block;
	  height: auto;
	  vertical-align: middle;
	  margin-right: -0px;
	  height: 100%;
	}
}
@media screen and (max-width:799px){
  .custom-model-inner{
    margin-top: 45px;
  }
  
  .pop-up-content-wrap h4{
    font-size: 20px;
  }

}

