.herobanner {
  background-image: url("../../assets/images/careers-locations-hero-desktop.jpg");
  background-size: cover;
  position: relative;
}

.herobanner .herobanner__container {
  max-width: 1150px;
  margin: 0 auto;
  height: 100%;
  padding: 72px 20px;
}

.herobanner .herobanner__container .herobanner__heading {
  /* * * */
  max-width: 500px;
}

.herobanner .herobanner__container .pattern {
  position: absolute;
  right: -30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}




/* WHY JOIN US SECTION CSS */

.career {
margin: 100px auto;
max-width: 1150px;
padding: 0 20px;
box-sizing: border-box;

&__headings {
  text-align: center;
}

&__items {
  display: flex;
  flex-direction: row;
  text-align: center;

  .career__item {
    padding: 20px;

    .image {
      img {
        width: 100%;
        max-width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
      }
    .number {
      span {
        display: inline-block;
        font-family: 'Space Mono';
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: #495567;
        background-color: #fcb72b;
        margin-top: -35px;
        padding: 25px;
        border-radius: 50%;
      }
    } 
  }
    .content .texts {
      color: #939CAA !important;
    }
  }
}
}

@media only screen and (max-width: 876px) {
.career__items {
  display: block;

  .career__item {
    width: 100%;
    max-width: 500px;
    margin: auto;

    .content {
      max-width: 500px;
    }
  }
}
}

@media only screen and (max-width: 478px) {
.career__headings {
  margin-bottom: 80px;
}
.career__items {
  flex-wrap: wrap;
  
  .career__item {
    padding: 0;
    margin-bottom: 50px;

    .image img {
      height: 100%;
    }
  }
}
}  




/* JOB OFFERS CSS */

.job__wrapper {
background-color: #F2F5F9;
margin: 25px 100px;
display: flex;
justify-content: space-between;
padding: 30px 40px;

.job__contents {
  .name {
    margin: 0;
  }

  .location {
  font-family: Lexend Deca;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  }
}

.button {
  border-color: #FCB72B !important;
}
}

@media only screen and (max-width: 876px) {
.job__wrapper {
  display: flex;
  margin: 25px 40px;
  
  .job__contents {
    margin-bottom: 20px;
  }
}
}

@media only screen and (max-width: 478px) {
.job__wrapper {
  display: block;
  text-align: center;
  padding: 30px 15px;

  .button {
    width: 90%;
  }
}
}

// HEROBANNER
@media only screen and (max-width: 768px) {
.herobanner {

    .herobanner__container {


        .herobanner__heading {
            /* * * */
            max-width: 100%;
            text-align: center;
        }

        .pattern {
            display: none;
        }
    }
}
}